<ion-header [class.curve-header]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="back()">
      <ion-button>
        <ion-icon  name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >
      <h4 class="sanseriflf demibold">
        Chat with Vendor
      </h4>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="" #content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img *ngIf="!loading" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <ion-spinner *ngIf="loading" class="ion-text-center"></ion-spinner>
      </ion-avatar>
      <ion-label>
        <h2>{{data.name}}</h2>
        <p>{{data.city}} {{ data.country }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of messages" [class.chat-input-box-blue]="item.sender_id != currentUser.id"  >
      <ion-avatar slot="start">
        <img [src]="( item['sender_id'] === currentUser['id']) ? 'https://ui-avatars.com/api/?name=ME' : 'https://ui-avatars.com/api/?name=YU' " >
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{ item?.content }}</h2>
        <p><small>{{ item?.created_at | date:'mediumTime'}}</small></p>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-item color="light" class="ion-margin-top ion-margin-bottom chat-input-box" lines="none">
    <ion-input [(ngModel)]="message">

    </ion-input>
    <ion-button (click)="sendMessage()" [disabled]="loading" >
      <ion-icon *ngIf="!loading"  name="send-outline"></ion-icon>
      <ion-icon *ngIf="loading" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
